= image_tag "ic_win.png", class: 'win_result_img'
%br
축하합니다!
%br
%span.highlight.green
  [4등] 5천원 4번
%br
%span.highlight.green
  [5등] 로또권 3장 9번
%br
%span.highlight.yellow
  총 5,000,005원
%br
//5등 있을 때만 표기
%span.highlight.yellow
  로또권 27장 
