= render 'partials/black_overlay'
.popup.account_popup
  .popup_select
    = image_tag "btn_close.png", class: 'close_btn'
  .popup_heading
    은행 선택
  .popup_txt
    %span.highlight.green
      KB국민
    %span.highlight.green
      NH농협
    %span.highlight.green
      신한
    %span.highlight.green
      IBK기업
    %span.highlight.green
      우리
    %span.highlight.green
      새마을
    %span.highlight.green
      부산
    %span.highlight.green
      경남
    %span.highlight.green
      광주
    %span.highlight.green
      전북
    %span.highlight.green
      신협
    %span.highlight.green
      SC
    %span.highlight.green
      KDB산업
    %span.highlight.green
      대구
    %span.highlight.green
      제주
    %span.highlight.green
      KEB하나
    %span.highlight.green
      우체국
    %span.highlight.green
      수협
