<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbuzlotto%2F&tabs=timelin&width=420&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1268848616468007" width="420" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
-#%row.buzlotto_fb
  -##fb-root
  -#.fb-page{"data-adapt-container-width" => "true", "data-hide-cover" => "false", "data-href" => "https://www.facebook.com/buzlotto/", "data-show-facepile" => "true", "data-small-header" => "true", "data-width" => "763"}
    -#%blockquote.fb-xfbml-parse-ignore{:cite => "https://www.facebook.com/buzlotto/"}
      -#%a{:href => "https://www.facebook.com/buzlotto/"} 버즈로또

:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.7&appId=1268848616468007";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
