%row.campaign
  .campaign_heading
    지금 참여 가능 캠페인
    %span.highlight.green
    개

  = render 'partials/unavailable'
  = render 'partials/joinus'
  = render 'partials/campaign_enroll'

:javascript
  $(function(){
    campaign_list();
    unavailable(); //참여할 수 없는 캠페인 팝업에 대한 function 
  });
