%row.footer
  .service
    = link_to "서비스 이용약관", buzz_service_path
  .privacy
    = link_to "개인정보 취급방침", buzz_privacy_path
  .partner
    = link_to "제휴문의", "mailto:kato.park@buzlotto.com"
  .ad
    = link_to "광고문의", "mailto:kato.park@buzlotto.com"
