// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;
$iphone6: 375px;
$iphone5: 320px;

// Typography
$base-font-family: 'nanumbarungothic' 'sans-serif';
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$heading-font-size: 2em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 5px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$background-color: #f5f5f5;
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #e0e2e3;
$green: #40b987;
$yellow: #f6be46;
$fb_color: #586ea6;
$lotto_yellow: #fed053;
$lotto_blue: #8cc6e7;
$lotto_red: #f18d80;
$lotto_green: #6bce9e;
$lotto_purple: #a5a0dc;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
