.container {
  .find_pw_heading {
    @media screen and (max-device-width: 420px) {
      font-size: 1.7em;
      margin-top: 1em;
      margin-bottom: 1.5em;
    }
    margin-top: 70px;
    font-size: 44px;
    display: block;
  }
  .find_pw_phonenumber {
    input {
      @media screen and (max-device-width: 420px) {
        width: 16.5em;
        font-size: 1.5em;
        margin-bottom: 1em;
        margin-top: 0;
        border-bottom: 1px solid #cecece;
      }
      @media screen and (max-device-width: 320px) {
        font-size: 1.2em;
        width: 16em;
      }
      width: 820px;
      margin-top: 251px;
      border: none;
      border-bottom: 2px solid #cecece;
      font-size: 56px;
      font-family: Sans-serif;
      text-align: left;
      font-weight: normal;
      background-color: transparent;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  .find_pw_phonenumber_btn {
    button {
      @media screen and (max-device-width: 420px) {
        font-size: 1.5em;
        width: 16.5em;
        height: 3em;
        margin-bottom: 1em;
      }
      @media screen and (max-device-width: 320px) {
        font-size: 1.2em;
        width: 16.5em;
        height: 3em;
      }
      width: 820px;
      height: 112px;
      font-size: 40px;
      font-weight: normal;
      background-color: #e6e6e6; 
      color: #c3c3c3;
    }
  }
  .find_pw_insert_cnum {
    .heading {
      @media screen and (max-device-width: 420px) {
        font-size: 1.5em;
        margin-bottom: .8em;
        margin-top: .7em;
      }
      @media screen and (max-device-width: 320px) {
        font-size: 1.2em;
        margin-bottom: .1em;
        margin-top: 1em;
      }
      font-size: 30px;
      margin-top: 153px;
    }
    input[type='text'] {
      @media screen and (max-device-width: 420px) {
        width: 11em;
        font-size: 1.2em;
        margin: 0 5em 0 5em;
        border-bottom: 1px solid #cecece;
      }
      text-align: center;
      width: 492px;
      margin-top: 46px;
      margin-bottom: 65px;
      border: none;
      border-bottom: 2px solid #cecece;
      font-size: 56px;
      font-weight: lighter;
      background-color: transparent;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    .content {
      a {
        @media screen and (max-device-width: 420px) {
          margin-top: .2em;
          margin-bottom: 2em;
        }
        @media screen and (max-device-width: 320px) {
          margin-top: .5em;
          margin-bottom: 2em;
        }
        margin-top: 35px;
        color: #333333;
        text-decoration: underline;
        display: block;
      }
      @media screen and (max-device-width: 420px) {
        font-size: 1.2em;
        margin-bottom: .8em;
        margin-top: 1em;
      }
      @media screen and (max-device-width: 320px) {
        font-size: 1.2em;
        margin-top: 1em;
      }
      font-size: 33px;
      margin-top: 45px;
      margin-bottom: 54px;
    }
  }
  .find_pw_confirm_btn {
    button {
      @media screen and (max-device-width: 420px) {
        font-size: 1.5em;
        width: 16.5em;
        height: 3em;
      }
      @media screen and (max-device-width: 320px) {
        font-size: 1.2em;
        width: 16.5em;
        height: 3em;
      }
      font-size: 40px;
      width: 820px;
      height: 112px;
      background-color: #e6e6e6;
      color: #c3c3c3;
    }    
    margin-bottom: 20px;
  }
}
