%row.mypage_history_heading
  로또권 내역

%row.history_list

%row.mypage_history_btn
  %button.load_more
    더 보기

:javascript
  $(function(){

    var next_url = point_history("http://localhost:8000/api/lottos/lotto_reserve_history/?page=1&page_size=7");
    $("button.load_more").click(function(){
      next_url = point_history(next_url);
    });
  });
